<?xml version="1.0" ?>

<robot name="Robot1" xmlns:xacro="http://ros.org/wiki/xacro">
     <xacro:include filename="$(find industrial_extrinsic_cal)/urdf/calibration_transform_macro.xacro" />
     
      <link name="yumi_body" />

      <link name="target_frame" >
	<visual>
            <origin xyz="0.105 0.1485 0.002" />
 	    <geometry>
                <box size="0.21 0.297 0.002" />
            </geometry>
          </visual>
     </link>

     <joint name="$world_2_cal_target_joint" type="fixed" >
        <parent link="yumi_body" />
	<child link="target_frame" />
	<origin rpy="0 0 0" xyz="0.221 0.0435 0.035" />
     </joint>
     
     <link name="camera_link" >
         <visual>
            <origin xyz=".125 .035 .0" />
            <geometry>
                 <box size=".25 .07 .045" />
            </geometry>
         </visual>
     </link>

     <link name="kinect2_link" >
         <visual>
            <origin xyz=".125 .035 .0" />
            <geometry>
                 <box size=".25 .07 .045" />
            </geometry>
         </visual>
     </link>

     <xacro:calibration_definitions child_link="kinect2_link" parent_link="yumi_body" />
     <xacro:calibration_definitions child_link="camera_link" parent_link="yumi_body" />

</robot>

